/*----------Font----------*/

@font-face {
    font-family: lexend;
    src: url(../font/Lexend-VariableFont_wght.ttf);
}

@font-face {
    font-family: kachika;
    src: url(/font/KACHIKA.ttf);
}

/*----------Body----------*/

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

body {
    font-family: lexend;

    background: #378196;
    background: linear-gradient(180deg, #329cb9, #8fcadd 50%);
    background-attachment: fixed;
}

/*----------Header----------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
}

header h1 {
    margin-left: 50px;
}

header ul {
    margin-right: 50px;
}

header li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 10px;
}

/*----------Footer----------*/
footer {
    margin-top: 100px;
    text-align: center;
    color: azure;
}
